@media (max-width: 952px){
    nav img{
        width: 200px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 14px;
        }

}

@media (max-width: 858px){
    .checkbtn{
        display: block;
        transition: 2s ease;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(11, 45, 57, .8);
        top: 80px;
        left: -100%;
        padding-top: 80px;
        text-align: center;
        transition: .5s ease;
    }

    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a.activate, nav ul li a:hover{
        background: none;
        text-shadow: 0 10px 15px #FC7300;
    }

    #check:checked ~ ul{
        left: 0;
    }
}